extends layout

block content
	div(class="container")
		div(class="col-sm-6 col-sm-offset-3")
			h1
				span(class="fa fa-sign-in")
				| &nbsp;Forgot Password
			
			form(method="POST")
				div.form-group
					label Email
					input(type="email" class="form-control" name="email")
				button(type="submit" class="btn btn-warning") Submit

			hr

			p Need an account?&nbsp;
				a(href="/signup") Signup
			p Or go&nbsp;
				a(href="/") Home


