extends layout

block content
	div(class="container")
		div(class="col-sm-6 col-sm-offset-3")
			h1
				span(class="fa fa-sign-in")
				| &nbsp;Reset Password
			
			form(method="POST")
				div.form-group
					label Password
					input(type="password" class="form-control" name="password")
				button(type="submit" class="btn btn-warning") Reset

			hr

			p Need an account?&nbsp;
				a(href="/signup") Signup
			p Or go&nbsp;
				a(href="/") Home


