extends layout

block content
	div(class="container")
		div(class="col-sm-6 col-sm-offset-3")
			h1
				span(class="fa fa-sign-in")
				| &nbsp;Signup
			
			form(method="post")
				div.form-group
					label Email
					input(type="email" class="form-control" name="email")

				button(type="submit" class="btn btn-warning btn-lg") Signup

			hr

			p Already have an account?&nbsp;
				a(href="/login") Login

			p Or go&nbsp;
				a(href="/") Home

			